<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<form action="" method="post">
    <p>Drink Name</p>
    <input type="text" name="name" placeholder="Drink Name">
    <p>Price</p>
    <input type="text" name="price" placeholder="Price">
    <p>Type</p>
    <select name="typeDrinks" required>
        <option value="">None</option>
        <option value="Coffee">Coffee</option>
        <option value="Tea">Tea</option>
        <option value="Fruit Juice">Fruit Juice</option>
        <option value="Alcoholic Beverage">Alcoholic Beverage</option>
    </select>
    <button type="submit">ADD</button>
</form>
</body>
</html>