<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<h1>Edit Drink</h1>
<form action="" method="post">
    <input type="text" name="name" placeholder="Drink Name" value="{input_name}">
    <p>Price</p>
    <input type="text" name="price" placeholder="Price" value="{input_price}">
    <p>Type</p>
    <select name="typeDrinks"  required>
        <option value="">None</option>
        <option value="Coffee">Coffee</option>
        <option value="Tea">Tea</option>
        <option value="Fruit Juice">Fruit Juice</option>
        <option value="Alcoholic Beverage">Alcoholic Beverage</option>
    </select>
    <button type="submit">ADD</button>`
</form>
</body>
</html>